VITE_API_BASE_URL=https://ponctuel.bloom-buddies.fr/backend/public/api
VITE_STRIPE_PUBLIC_KEY=pk_test_51IDoiqAwdHWDgrFCk0LQ2gRuFG8KfRBpdB4ZAbeHY4mMIJT0C3OV4uJ3QPjdUTou8tPVcH05rF32hb80OV1olT0y00Bakxx67U
VITE_GOOGLE_MAPS_API_KEY=AIzaSyBi4AOxHifmFmaDYEQUw92p4g74ScROiEY